<% include ./partials/header.ejs %>

 <main class="pt-[130px] pb-20 px-4 sm:px-6 lg:px-8 max-w-7xl mx-auto">
    <h2 class="text-2xl font-bold mb-8">Celestora Ring Collection</h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
      <!-- ring Card -->
      <a href="/ring-detail">
        <div class="bg-white  shadow-md overflow-hidden hover:shadow-xl transition-shadow duration-300">
            <img src="images/r1.jpg" alt="ring" class="w-full h-60 object-cover rounded-tr-3xl rounded-bl-3xl">
            <div class="p-4">
            <h3 class="text-lg font-semibold">Elegant Diamond ring</h3>
            <p class="text-[#948979] font-medium">₹2,499</p>
            </div>
        </div>
        </a>

      <!-- Repeat with different images and names -->
       <a href="/ring-detail">
        <div class="bg-white  shadow-md overflow-hidden hover:shadow-xl transition-shadow duration-300">
            <img src="images/r2.jpg" alt="ring" class="w-full h-60 object-cover rounded-tr-3xl rounded-bl-3xl">
            <div class="p-4">
            <h3 class="text-lg font-semibold"> Diamond ring</h3>
            <p class="text-[#948979] font-medium">₹3,199</p>
            </div>
        </div>
      </a>
      <a href="/ring-detail">
      <div class="bg-white  shadow-md overflow-hidden hover:shadow-xl transition-shadow duration-300">
        <img src="images/r3.jpg" alt="ring" class="w-full h-60 object-cover rounded-tr-3xl rounded-bl-3xl">
        <div class="p-4">
          <h3 class="text-lg font-semibold">Studs</h3>
          <p class="text-[#948979] font-medium">₹1,899</p>
        </div>
      </div>
      </a>
      <a href="/ring-detail">
      <div class="bg-white shadow-md overflow-hidden hover:shadow-xl transition-shadow duration-300">
        <img src="images/r4.jpg" alt="ring" class="w-full h-60 object-cover rounded-tr-3xl rounded-bl-3xl">
        <div class="p-4">
          <h3 class="text-lg font-semibold">Gold ring</h3>
          <p class="text-[#948979] font-medium">₹4,799</p>
        </div>
      </div>
      </a>
      <a href="/ring-detail">
      <div class="bg-white  shadow-md overflow-hidden hover:shadow-xl transition-shadow duration-300">
        <img src="images/r5.jpg" alt="ring" class="w-full h-60 object-cover rounded-tr-3xl rounded-bl-3xl">
        <div class="p-4">
          <h3 class="text-lg font-semibold">Oval Bangle</h3>
          <p class="text-[#948979] font-medium">₹3,999</p>
        </div>
      </div>
      </a>
      <a href="/ring-detail">
      <div class="bg-white  shadow-md overflow-hidden hover:shadow-xl transition-shadow duration-300">
        <img src="images/r6.jpg" alt="ring" class="w-full h-60 object-cover rounded-tr-3xl rounded-bl-3xl">
        <div class="p-4">
          <h3 class="text-lg font-semibold">Modern ring</h3>
          <p class="text-[#948979] font-medium">₹2,299</p>
        </div>
      </div>
      </a>
      <a href="/ring-detail">
      <div class="bg-white  shadow-md overflow-hidden hover:shadow-xl transition-shadow duration-300">
        <img src="images/r7.jpg" alt="ring" class="w-full h-60 object-cover rounded-tr-3xl rounded-bl-3xl">
        <div class="p-4">
          <h3 class="text-lg font-semibold">Rose Gold ring</h3>
          <p class="text-[#948979] font-medium">₹2,999</p>
        </div>
      </div>
      </a>
      <a href="/ring-detail">
      <div class="bg-white  shadow-md overflow-hidden hover:shadow-xl transition-shadow duration-300">
        <img src="images/r8.jpg" alt="ring" class="w-full h-60 object-cover rounded-tr-3xl rounded-bl-3xl">
        <div class="p-4">
          <h3 class="text-lg font-semibold">Mini Studs</h3>
          <p class="text-[#948979] font-medium">₹1,499</p>
        </div>
      </div>
      </a>
    </div>
  </main>
<% include ./partials/footer.ejs %>